*{
    box-sizing: border-box
}

body{
    margin: 0;
}

.container{
    margin: 1rem;
    text-align: center;
}
.nav{
    background-color: #32A852;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding:0 3rem;
    font-size: 25px;
    height: 3cm;
    z-index: 1000;
    box-shadow: 0px 0px 2px 2px rgb(248, 96, 121, 10);
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
}
.header {
    z-index: 1000;
  }
.nav a{
    color:inherit;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    text-decoration: none;
}
.navbar-nav > .active > a { 
 
    color:rgb(177, 234, 55)
}

.nav li:active{
    background-color: rgb(241, 207, 228);
    color:#167bff
}

.nav li:hover{
    background-color: rgb(212, 241, 231);
    color: #32A852;
}


.homepage{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  
  padding-top: 20px;
  
}
.healthlogo
{
  background-color: rgb(160, 236, 243);
  border-radius: 150px;
  align-items:center;
  align-self: center;
  justify-content: center;
  display: flex;
  height: 50px;
  width: 50px;
}

.loginpage{
    background-color: rgb(149, 244, 155);
    display: flex;
    align-content: center;
    justify-content: center;
    right: 0;  
    z-index: 1;
    position: fixed;
    
    max-width: 50%;
    max-height: 50%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

}


.input-group input{
    width:125%;
    font-size:larger;
    margin-block:20px;
    text-align: center;
    border-style: inset;
}

.input-group label{
    justify-content: space-around;
    font-size: larger;
}

.loginbtn{
    width:100px;
    height:35px;
    margin-top: 20px;
    background-color: darkgreen;
    color:white;

}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 9px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}

 .footer{
  background-color: #32A852;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding:0 3rem;
    font-size: 25px;
    height: 3cm;
    z-index: 1000;
    box-shadow: 0px 0px 2px 2px rgb(248, 96, 121, 10);
    margin-top: 100vh;

    
 }

 .footer img{
  width:80px;
  height:80px;
  
 }
